#home, #menu{
	padding-right: 10px;
}

h1{
	text-align: center;	
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 150px;
}

.description{
  width: 400px ;
  margin-left: auto ;
  margin-right: auto ;
}

.leftMenuItems{
	text-align: center;
	float: left;
	width: 34%;
	margin-left: 33%;
	}
.centerMenuItems{
	text-align: center;
	float: left;
	width: 33%;
	margin-left: -67%;
	}

.rightMenuItems{	
	width: 33%;
	float: right;
	text-align: center;
	}
p.address{
	text-align: center;
	position: absolute;
    top: 550px;
    right: 38%;
    width: 300px;
    height: 100px;

}

form {
    width: 80%;
    margin: 0 auto;
}

label, input {
    display: inline-block;
}

label {
    width: 30%;
    text-align: right;
}

#submitButton{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
