@import url(https://fonts.googleapis.com/css?family=Poiret+One);

h2, h3, #releaseDate{
	text-align: center;
	font-family: 'Poiret One', cursive;
}

a{
		text-decoration: none;
		}
		
a:hover{
		text-decoration: underline;
		background-color: black;
		}

td{
		font-style: italic;
} 

tbody{
		background-color: lightsteelblue;
		}

img{
  display: block;
    margin: auto;
    width: 40%;
		}
		
table{
	
	margin: 2px;
}





