@font-face {
  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  src: local('Concert One'), url(ConcertOne-Regular.ttf) format('ttf');
}

#home, #menu{
	padding-right: 10px;
}

#home {
	padding-left: 10px;
}

.header{
	text-align: center;	
	font-family: 'ConcertOne-Regular', cursive;
}

.description{
  width: 400px ;
  margin-left: auto ;
  margin-right: auto ;
}

.footer{
	text-align: center;
	position: absolute;
    top: 550px;
    right: 38%;
    width: 300px;
    height: 100px;
	padding-top: 45px;
}

#contactForm {
	min-height: 450px;
}

#homePageContent{
		 background-color: DarkGoldenRod;
			min-height: 450px;
		 }