#home, #menu{
	padding-right: 10px;
}

.header {
	text-align: center;
	font-weight: lighter;
}

.footer{
	text-align: center;
	font-weight: lighter;
	position: absolute;
    top: 550px;
    right: 38%;
    width: 300px;
    height: 100px;
}

p {
	font-weight: bold;
	text-align: center;
}

.info  {
	
}